---
import Button from './Button.astro';
---

<div class="flex flex-wrap gap-6">
    <img class="image border border-black rounded-2xl w-80 aspect-video object-cover grow" src="https://i.pinimg.com/564x/d4/cf/07/d4cf0792884ea0a59876177ca8e64e46.jpg"/>
    <div class="w-96 grow">
        <h3 class="text-2xl mb-4">Project Name</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque sed elit elit. Nunc tincidunt at purus nec rutrum. Duis
            bibendum nisi risus, a volutpat arcu pellentesque id. Mauris odio
            ante.
        </p>
        <div>
            <Button text="Visit" />
        </div>
    </div>
</div>
