---
import quillIcon from "../components/icons/quill-pen.svg?raw"
---

<div class="w-[210px] h-[297px] bg-yellow-500 p-4 text-center rounded-2xl flex flex-col gap-4 justify-between">
    <div class="w-fit mx-auto">
        <Fragment set:html={quillIcon} />
    </div>
    <div>
        <h3 class="text-lg font-bold">ELOQUENT JAVASCRIPT</h3>
        <p class="text-sm mt-4">Marijin Heverbeke</p>
    </div>
</div>