---
import Button from '../components/Button.astro';
import Indicator from '../components/Indicator.astro';
import forest from '../icons/forest.svg?raw';
---

<div class="mb-8 p-8 h[820px]">
    <div class="relative w-fit mx-auto">
        <div class="svg-container">
            <Fragment set:html={forest} />
        </div>
        <Indicator text="Proyectos" link="#projects" orientation="to-left" />
        <Indicator text="Skills" link="#skills" orientation="to-left" />
        <Indicator text="Notas" link="#notes" orientation="to-right" />
    </div>
    <div class="text-center">
        <h2 class="text-2xl mt-8 mb-6">José Sánchez</h2>
        <h1 class="text-4xl mb-4">Software Developer</h1>
        <p class="max-w-fit text- mx-auto text-lg pb-8">
            Más de 5 años desarrollando software.</br>
            Más de 4 años haciéndolo bien.</br>
            Más de 3 años haciéndolo bien y visualmente atractivas.</br>
        </p>
        <Button type="filled">
            <a href="mailto:jsanxez7@gmail.com">
                E-mail
            </a>
        </Button>
    </div>
</div>

<style>
   .svg-container {
        svg {
            width: 100%;
        }
   }
</style>
