---
import Button from '../components/Button.astro';
import Indicator from '../components/Indicator.astro';
import forest from '../icons/forest.svg?raw';
---

<div class="mb-8 p-8 h[820px]">
    <div class="relative w-fit mx-auto">
        <div class="svg-container">
            <Fragment set:html={forest} />
        </div>
        <Indicator text="Proyectos" link="#projects" orientation="to-left" />
        <Indicator text="Skills" link="#skills" orientation="to-left" />
        <Indicator text="Notas" link="#notes" orientation="to-right" />
    </div>
    <div class="text-center">
        <h2 class="text-2xl mt-8 mb-3">José Sánchez</h2>
        <h1 class="text-4xl mb-4">Software Developer</h1>
        <p class="max-w-2xl text- mx-auto text-lg pb-8">
            Continuamente priorizo escribir buen código, diseñar interfaces
            limpias y con experiencias de usuario agradables; a veces me
            anticipo a las futuras necesidades y allano el camino...  solo a
            veces.
        </p>
        <a href="mailto:jsanxez7@gmail.com" class="filled inline-flex items-center gap-2 rounded-full px-6 text-sm h-10">
            E-mail
        </a>
    </div>
</div>

<style>
   .svg-container {
        svg {
            width: 100%;
        }
   }
</style>
