---
import Button from '../components/Button.astro';
---

<div class="p-8 mb-8">
    <img src="/tent.svg" class="w-80 mx-auto" />
    <div class="text-center">
        <h2 class="text-2xl mt-4 mb-3">José Sánchez</h2>
        <h1 class="text-4xl mb-4">Software Developer</h1>
        <p class="max-w-[640px] mx-auto text-lg">
            Entusiasmado por crear aplicaciones de gran impacto y relevancia
            basado en el buen diseño y orientado hacia las buena práctica y
            experiencia de usuario
        </p>
        <Button text="Let's Talk"/>
    </div>
</div>
