---
import NoteCard from "../components/NoteCard.astro"
const notes = await Astro.glob("../content/notes/*.md")
---

<section id="notes" class="max-w-5xl mx-auto py-8 px-4">
    <h2 class="text-center text-3xl mb-4">Notes</h2>
    <p class="mb-8 text-center">
        This is a collection of all the books I've been reading throughout my professional development.
    </p>

    <div class="flex flex-wrap justify-center gap-8 mx-auto mt-8">
        {notes.map(note => (
            <NoteCard note={note.frontmatter} />
        ))}
    </div>
</section>
