---
import HorizontalCard from "../components/HorizontalCard.astro";
---

<section id="projects" class="max-w-5xl mx-auto py-8 px-4">
    <h2 class="text-center text-3xl mb-16">Projects</h2>
    <div class="flex flex-col gap-8">
        <HorizontalCard />
        <HorizontalCard />
        <HorizontalCard />
    </div>
</section>
