---
const skills = {
    'Languages': ['JavaScript', 'PHP', 'Java', 'C/C++', 'Python', 'C#', 'Lisp'],
    'Frontend': ['HTML', 'CSS', 'React', 'Next.js', 'Astro'],
    'Backend': ['Node.js', 'Express', 'MongoDB', 'MySQL', 'Oracle', 'SQL Server'],
    'Others': [ 'Git', 'Linux', 'Docker', 'Figma', 'Android','Firebase', 'CodeIgniter', 'Wordpress'],
}
---

<section id="skills" class="max-w-5xl mx-auto py-8 px-4">
    <h2 class="text-center text-3xl mb-4">Skills</h2>
    <p class="mb-8 text-center">
        Lately focusing on React, Next.js, and Three.js
    </p>

    <table class="mx-auto mt-8">
        <tbody>
            {Object.keys(skills).map(category => (
                <tr>
                    <td class="font-bold align-top pr-2">{category}: </td>
                    <td><div class="inline-flex flex-wrap gap-1 justify-between pb-4">{skills[category].map(skill => (<span>{skill}</span>))}</div></td>
                </tr>
            ))}
        </tbody>
    </table>

</section>
