---
import "@fontsource/quicksand";
import "@fontsource/josefin-sans";
const { title, description } = Astro.props
---

<html lang="es" class="scroll-smooth">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BJ9JZ4QK8J"></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-BJ9JZ4QK8J');
        </script>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={description}>
        <title>{ title }</title>
    </head>
    <body>
        <slot />
        <footer class="flex justify-between items-end max-w-5xl mx-auto py-8 px-4">
            <span>Copyright © 2024 | José Sánchez.</span>
            <ul class="flex flex-wrap justify-end gap-x-2 gap-y-0">
                <li><a href="https://www.github.com/jsanxez" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/josesanxez" target="_blank">LinkedIn</a></li>
                <li><a href="https://www.twitter.com/siir_francis" target="_blank">Twitter</a></li>
            </ul>
        </footer>
    </body>
</html>

<style>
    html {
        font-family: "Quicksand", sans-serif;
        font-size: 16px;
        background-color: #fff2ef;
        h1, h2, h3, h4, h5, h6 { font-family: "Josefin Sans", Serif; }
    }
</style>
