---
import "@fontsource/quicksand";
import "@fontsource/josefin-sans";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <slot />
        <footer class="flex justify-between max-w-5xl mx-auto py-16">
            <span>Copyright © 2024 | José Sánchez.</span>
            <ul class="flex flex-wrap gap-4">
                <li><a href="https://www.github.com/jsanxez" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/josesanxez" target="_blank">LinkedIn</a></li>
                <li><a href="https://www.twitter.com/siir_francis" target="_blank">Twitter</a></li>
            </ul>
        </footer>
    </body>
</html>

<style>
    html {
        font-family: "Quicksand", sans-serif;
        background-color: #fff2ef;
        h1, h2, h3, h4, h5, h6 { font-family: "Josefin Sans", Serif; }
    }
</style>
